*{ 
    margin: 0;
    padding: 0;
}
body{
    
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(135deg, #71b7e6,#9b59b6); */
    background-position:center;
    background-size: cover;
    position: relative;
    
} 
.fcontainer{
    position: absolute;
    color: black;
    background-color: white;
    top: 24%;
    left: 32%;
    padding: 98px 120px;
    border: 2px solid white;
    border-radius: 65px;
    box-shadow: -1px 0px 61px 6px rgb(253 132 81 / 75%);
    box-sizing: border-box;
}
.fcontainer h1{
    font-size:40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 4px solid rgb(15, 15, 15);
    padding-bottom: 20px;
    font-style: oblique;
}
.box{
    width:100%;
    color: rgb(19, 18, 18);
    border-bottom:1px solid rgb(14, 13, 13); 
    padding:10px 0;
}
.box input{
    width:75%;
    font-size:20px;
    border: none;
    outline: none;
    margin: 15px 10px 0;
    background: none;
}
::placeholder {
    color:black;
    opacity: 1;
  }
.box i{
    width:25px;
    text-align:center;
    /* float:left; */
}
.clearfix button {
    background:none;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius:20px;
  }
  
 .clearfix button:hover {
    border:orange;
    background: orange;
    transition:1s;
  }
  
  /* Extra styles for the cancel button */
  .loginbtn{
    background:none;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius:20px;
  }
  .loginbtn:hover
  {
    border: orange;
    background: orange;
    transition: 1s;
  }
  /* Float cancel and signup buttons and add an equal width */
   .loginbtn.signupbtn {
    float: left;
    width: 35%;
  }
  
  a{
      text-decoration: none;
      color:black;
  }

.new-acc a{
  color: blue;
}







