*{
    margin: 0;
    padding: 0;
} 
/* body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding:10px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
} */
.scontainer{
    max-width: 700px;
    width: 100%;
    background: white;
    padding:25px 30px;
    border-radius: 20px;

}
.scontainer .title{
    font-size:25px;
    font-weight:500;
    position: relative;
}
.scontainer .title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height:3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);

}
.scontainer form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
   width: calc(100% /2 - 30px);

}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px ;
}
.user-details .input-box input{
    height: 45px;
    width:100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.8s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .Gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .Gender-details .category{
    display:flex;
    width:80%;
    margin:14px 0;
   
    justify-content:space-between;
}
.Gender-details .category label{
    display:flex;
    align-items:center;
}
.Gender-details .category .dot{
    height:18px;
    width: 18px;
    background:#d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border:5px solid transparent;
}
#dot-1:checked ~  .category .one,
#dot-2:checked ~  .category .two,
#dot-3:checked ~  .category .three{
    border-color: #d9d9d9;
    background:red;
}
form input[type="radio"]{
    display:none;
}
.sbutton{
    background:none;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius:20px;
}
.sbutton:hover{
    
    border: orange;
    background: orange;
    transition: 1s;
  
}



